<div class="card">
  <div class="word">
    <%= @word %>
  </div>
</div>
<% @translations.each do |translation| %>
  <div class="row translation">
    <p class="word">
      <%= translation[:word] %>
    </p>
  </div>
<% end %>
