<!DOCTYPE html>
<html>
  <head>
    <title>Cards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header header--main">
      <div class="logo">
        cards
      </div>
      <div class="right version">
        <%= @version %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
